<div *ngIf="contact">
  <mat-card class="contact-list">
    <p>Fiche {{ contact.civilite | titlecase}} <span *ngIf = "!editModeNom">{{ contact.nom | uppercase}}</span> {{ contact.prenom | titlecase}}
        <button mat-raised-button color="primary" (click)="modeEditionNom()"><mat-icon>edit</mat-icon></button>
    </p>
    <span *ngIf = "editModeNom"><input  [value]="contact.nom" [(ngModel)]="contact.nom"></span>
    
    <button *ngIf = "editModeNom" mat-raised-button color="primary" (click)="modifierContact()"><mat-icon>check</mat-icon></button>
    <button *ngIf = "editModeNom" mat-raised-button color="primary" (click)="modeEditionNom()"><mat-icon>wrap_text</mat-icon></button>
    <div class="adresse-container">
      <div>
        <mat-icon>home</mat-icon>
      </div>
      <div>
        <p>{{ contact.adresseLigne1 }}</p>
        <p *ngIf="contact.adresseLigne2">{{ contact.adresseLigne2 }}</p>
      </div>
    </div>
    <div class="telephone-container">
      <div>
        <p *ngFor="let tel of contact.telephones"><mat-icon>phone</mat-icon>{{ tel.type }} : {{tel.numero}}</p>
      </div>
    </div>
    <div class="mail-container">
      <mat-icon>mail</mat-icon><span>{{ contact.mail }}</span>
    </div>
    <button mat-raised-button color="warn" (click)="supprimerContact()">supprimer</button>
  </mat-card>
</div>
<div *ngIf="!contact">
  chargement...
</div>